@font-face {
  font-family: "Lobster";
  src: url("./fonts/Lobster-Regular.ttf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.bayan {
  margin: 0 auto;
  width: 60%;
}

.bayan__header {
  padding: 0.625rem 1.25rem;
  margin: 0;
  font-size: 4rem;
  line-height: 5rem;
  font-family: "Lobster", "Arial",sans-serif;
  color: #4e235e;
}

.bayan__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bayan__item {
  border-top: 0.25rem solid #e5e5e5;
}

.bayan__toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

.bayan__label:active {
  opacity: 0.7;
}

.bayan__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bayan__title {
  display: block;
  padding:  0.625rem 1.25rem;
  margin: 0;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Lobster", "Arial",sans-serif;
  color: #9c6398;
  cursor: pointer;
}

.bayan__icon {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
  background: url('./images/icon-plus.svg') 0 0 no-repeat;
  background-size: contain;
  transition: 0.5s transform;
}

.bayan:hover .bayan__icon {
  display: block;
}

.bayan:hover .bayan__title {
  color: #000000;
}

.bayan__label:active .bayan__title {
  color: #9c6398;
}

.bayan__toggle:checked ~ .bayan__content {
  max-height: 100vh;
  transform: scale(1);
}

.bayan__toggle:checked ~ .bayan__wrap .bayan__title {
 color: #000000;
}

.bayan__toggle:checked ~ .bayan__wrap .bayan__icon {
  transform: rotate(45deg);
}

.bayan__item:hover > .bayan__icon {
  transform: rotate(45deg);
}

.bayan__label:hover {
  cursor: pointer;
}

.bayan__label:hover .bayan__content {
  max-height: 100vh;
  transform: scale(1);
}

.bayan__content:hover {
  max-height: 100vh;
  transform: scale(1);
  cursor: pointer;
}

.bayan__content {
  max-height: 0;
  margin: 0;
  transform: scale(0);
  transition: 0.2s all;
  overflow: hidden;
}

.bayan__img {
  display: block;
  margin: 0 auto;
  padding: 0.625rem;
  max-height: 100%;
}

@media (max-width: 820px) {
  html {
    font-size: 12px;
  }

  .bayan {
    margin: 0 auto;
    width: 80%;
  }

  .bayan__img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}